
@import "iconfont/iconfont.css";

.icon-xiangmu:before { content: "\e662"; }

body {
   font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif; 
	/* font-family: Microsoft YaHei; */
}
h2{
	padding-bottom: 10px;
	border-bottom: 1px solid #eaecef;
}

h3::before{
	content: "\e662";
	font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10px;
}
h4{
	margin-top: 10px;
	margin-bottom: -5px;
}

/* hr {
	height: 1px;
	margin-bottom: 30px;
} */